.root {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  /* justify-content: stretch; */

  /* z-index: 2000; */
  background-color: #fff5f0; /* match page background */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
  padding: 0 24px;
}

.link {
  justify-self: center;
  display: inline-flex;
  align-items: center;
}

.img {
  height: 80px;
  width: auto;
  pointer-events: auto;
  cursor: pointer;
}

.right {
  justify-self: end;
}

@media only screen and (min-width: 720px) {
  .right {
    display: none;
  }
}
