.container {
  padding: 0 20%;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5%;
  }
}
.number {
  font-size: 50px;
  line-height: 80%;
}

.label {
  font-size: 20px;
}
