.container {
  text-transform: uppercase;
  height: 144px;
  margin: 96px 0 16px;
  display: inline-block;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*
  padding-top: 180px;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-bottom: 24px;
  display: block; */
}

.content {
  max-width: 1200px;
}

.divider {
  --divider-color: var(--mantine-color-black);
}

.finalText {
  margin-top: 32px;
  font-size: 8px;
}
