.container {
  text-transform: uppercase;
  height: 144px;
  margin: 96px 0 48px;
  display: inline-block;
  /* display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 180px;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-bottom: 24px;
  display: block; */
}

.divider {
  --divider-color: var(--mantine-color-black);
}

.finalText {
  margin-top: 48px;
  font-size: 6px;
}
