.container {
  flex-shrink: 0;
  /* text-transform: uppercase; */
  padding: 120px 0 16px;
  display: inline-block;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff5f0;
  /*
  padding-top: 180px;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-bottom: 24px;
  display: block; */
}

.content {
  max-width: 1200px;
}

.title,
.date {
  font-family: 'Italianno', cursive;
  font-weight: 400;
  font-style: normal;
}
.divider {
  --divider-color: var(--mantine-color-black);
}

.finalText {
  margin-top: 32px;
  font-size: 8px;
}
