.navbar {
  width: 100%;
  margin: 2rem auto;
  padding: 0 2rem;
  background-color: #fff5f0;
}

.navItem {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
}
