.navbar {
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  width: 100%;
  margin: 2rem auto;
  padding: 0 2rem;
  z-index: 10;
  background-filter: blur(10px);
  -webkite-background-filter: blur(10px);
}

.rsvpButton {
  width: 120px;
}

.navItem {
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.middle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  pointer-events: none;
}
