.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 16px;
}

.note {
  margin-top: 12px;
  color: var(--mantine-color-dimmed);
}

.eventCard {
  padding: 16px 0;
  gap: 48px;
}

.mainInfo {
  padding: 48px 0;
}

.image {
  margin-top: 32px;
  margin-bottom: 32px;
  height: 280px;
  flex-basis: auto;
}
