.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 800px;
  margin: 0 auto;
  padding: 32px 16px;
  gap: 12px;
}

.placeholder {
  margin-top: 12px;
  color: var(--mantine-color-dimmed);
}

.question {
  margin-bottom: 36px;
}

.title {
  justify-content: center;
  text-align: center;
  font-size: 28px;
}

.table th,
.table td {
  text-align: center;
}

.discountCode {
  /* font-weight: bold; */
  background-color: var(--mantine-color-blue-2);
}
