.dropdown {
  background-color: #fff5f0;
  box-shadow: 0px 0px 12px 5px hsl(0deg 0% 0% / 0.31);
}

.item {
  margin: 8px;
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
}

.burger:focus {
  outline: none;
}
