.wrapper {
  height: 100%;
  /* min-height: 100%; */
  display: flex;
  flex-direction: column;
  background-color: #fff5f0;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin-top: 0;
}

.content {
  width: 100%;
  flex: 1 0 auto;
  background-color: #fff5f0;
}
