.container {
  /* text-transform: uppercase; */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 360px; /* fixed height */
  min-height: 240px;
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-bottom: 24px;
  background-image: url('/carina-daniel-rings.jpg');
  background-position: center;
  background-size: cover; /* scale without stretching, may crop */
  background-repeat: no-repeat;
  font-family: 'Italianno', cursive;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

.headerName {
  font-size: 80px;
  letter-spacing: 4px;
  line-height: 70%;
  padding-bottom: 24px;
  color: #ffffff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}

.dateLocation {
  font-size: 32px;
  line-height: 80%;
  margin: 8px 0;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
